<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ninjas</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/create/ninja" method="post">

        <label for="dojo">Dojo:</label>
            <select name="dojo_id">
                {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>
        <label>First Name: </label>
            <input type="text" name="first_name">
        <label>Last Name:</label>
            <input type="text" name="last_name">
        <label>Age:</label>
            <input type="number" name="age">
        <input type="submit" value="create">
    </form>
    <br>
    <a href="/" value="home">Home</a>
</body>
</html>