* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav h1 {
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;

}

nav ul li {}

nav ul li a {
    color: ;
}

.wrapper {
    background-color: green;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    border: 2px solid black;
    background-color: blue;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
    color: white;
    font-size: 18px;
    background-color: purple;
}