<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Recipe</title>
</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
    <h2>{{recipe.name}}</h2>
    <!-- <h3>Posted by: {{recipe.user.first_name}}</h3> -->

    <a href="/recipes" value="back">Back to recipes</a>
    <a href="/logout" value="logout">Logout</a>

        <p>Description: {{recipe.description}}</p>
        <p>Under 30 min?</p>
        {% if recipe.thirty_min == 1: %}
            Yes
        {% else: %}
            No
        {% endif %}
        <p>Instructions: {{recipe.instructions}}</p>
        <p>Date Made: {{recipe.date_cooked}}</p>

</body>
</html>